{% extends 'base.html' %}

{%block title %}Job Search{% endblock %}
{% block content %}
<div class="cv-container">
        <div class="CvContent">
        <h1 class="text-center cv-h1">Jobs</h1>
            <hr class="bg-white w-25"/>

            <div class="CvTable">
                <form method="POST" action="{% url 'display-jobs' %}">
                  {% csrf_token %}
                    {{ form }}
                    <div class="form-button-container">
                    <input value="Search" class="btn btn-success" type="submit">
                        </div>
                </form>
            </div>




        </div>
</div>
{% endblock %}