{% extends 'base.html' %}

{%block title %}Any Jobs Going{% endblock %}
{% block content %}
    <div class="cv-container">
        <div class="CvContent">
        <h1 class="text-center cv-h1">Jobs</h1>
            <hr class="bg-white w-25"/>

    <!-- https://stackoverflow.com/questions/32226716/multiple-for-loop-in-django-template -->
            {% for jab, key, logo in jobs %}

            <div class="CvTable">
                <table>
                    <tr>
                        <!-- https://stackoverflow.com/questions/7995080/html-if-image-is-not-found -->
                        <td><img src="http://logo.clearbit.com/logo/{{logo}}.com" width="80" height="60" onerror="this.onerror=null; this.src='default.png'"></td>
                        <td class="text-center"><b>{{ jab }}<b></td>
                    </tr>
                    <tr>
                        <td><hr/></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-button-container">
                                <a href="https://ie.indeed.com/viewjob?jk={{ key }}" class="btn  btn-success ">View</a>
                            </div>
                        </td>

                    </tr>
                </table>

            </div>
           <br />
            {% endfor %}
            <div class="no-record-text alert-info">
                <h5 class="text-center">No results found</h5>
                <a href="{% url 'job-search' %}">Do you want to try different search terms?</a>
            </div>
            <br />
        </div>

    </div>

{% endblock %}