{% extends 'base.html' %}

{%block title %}Any Jobs Going{% endblock %}
{% block content %}
    <div class="CvContent">
    <h1 class="text-center cv-h1">Jobs</h1>
        <hr />

<!-- https://stackoverflow.com/questions/32226716/multiple-for-loop-in-django-template -->
        {% for jab, key in jobs %}

        <div class="CvTable">
            <table>
                <tr>
                    <td><h3><a href="https://ie.indeed.com/viewjob?jk={{ key }}" class="btn text-dark">{{ jab }}</a></h3></td>
                </tr>
            </table>

        </div>
          <br />
        {% endfor %}
    </div>


{% endblock %}