 {% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>  

    <meta charset="UTF-8">
    <title>StudentCVA | {% block title %}Home{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>StudentCVA | Home</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" />


    <!-- FontAwesome -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/8e4fedabed.js" crossorigin="anonymous"></script>

</head>
<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">StudentCVA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'profile' %}">
                        Profile
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         CV
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'Cv_list' %}">Complete CVs</a>
                       <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'Education_list' %}">Education</a>
                        <a class="dropdown-item"  href="{% url 'Skills_list' %}">Skills</a>
                        <a class="dropdown-item"   href="{% url 'WorkExperience_list' %}">Work Experience</a>
                    </div>
                </li>

                {% else %}
                {% endif %}

                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                         {{  user.first_name }} &emsp; <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                        {% if user.is_staff %}
                        <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                        <div class="dropdown-divider"></div>
                        {% else %}
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a>
                    </div>
                </li>
                {% else %}

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'account_login' %}">
                        <b><i>Log In</i></b>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}
<section id="footer">
<footer class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <a href="http://www.andrewodonovanwebdesign.com">Andrew O' Donovan</a></small>
    </div>
</footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</section>

<script>
    $(document).ready(function(){

  // jQuery methods go here.
        if ( $( ".CvTable" ).length ) {
            $( ".no-record-text" ).hide();
        }

});
</script>
</body>
</html>