{% extends 'base.html' %}


{% block content %}
<!-- Page Header, Full sized Image -->
<header class="masthead my-auto mx-auto d-flex" id="landingPageHeader">
    <div class="container-fluid d-flex">
        <div class="row d-flex flex-column my-auto mx-auto text-center text-light align-items-center">
            <div class="d-flex col-12 mx-auto my-auto align-items-center text-center">
                <h1>StudentCVA</h1>
            </div>
            {% if user.is_authenticated %}
            {% else %}
            <div id="landingPageHeaderButtons" class="d-flex col-12 mx-auto my-auto align-items-center text-center">
                <a class="form-control btn btn-light" id="landing-signup" href="{% url 'account_signup' %}">
                    Sign Up
                </a>
                <a class="form-control btn btn-light" id="landing-login" href="{% url 'account_login' %}">
                    Log In
                </a>
                {% load socialaccount %}
                <a class="form-control btn btn-danger" id="landing-google" href="{% provider_login_url 'google' %}">
                    <i style="color: #fff;" class="fab fa-google"></i>
                </a>

            </div>
            {% endif %}
        </div>
    </div>
</header>

<!--==========================
    About Us Section
  ============================-->
<section id="about">
    <div class="container-fluid d-flex flex-column bg-light opct opacity-20" id="aboutContainer">
        <div class="row d-flex flex-column my-auto mx-auto text-center align-items-center">
            <div class="d-flex flex-column col-12 mx-auto my-auto align-items-center text-center w-75">
                <h1>About Us</h1>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna
                    aliqua. Enim nunc faucibus a pellentesque sit amet porttitor. Ultrices mi tempus imperdiet nulla. At
                    elementum eu
                    facilisis sed odio. Ullamcorper malesuada proin libero nunc consequat. Nunc sed id semper risus in
                    hendrerit gravida
                    rutrum. Venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam. Tristique senectus et
                    netus et
                    malesuada fames ac turpis. Magna fringilla urna porttitor rhoncus dolor purus non enim praesent.
                    Amet cursus sit
                    amet dictum sit amet justo. Tincidunt eget nullam non nisi. Porta lorem mollis aliquam ut porttitor
                    leo a diam. Id
                    diam vel quam elementum pulvinar etiam.
                    Dictum at tempor commodo ullamcorper a lacus. Commodo quis imperdiet massa tincidunt nunc pulvinar
                    sapien.
                    Ut etiam sit amet nisl purus in mollis nunc sed.
                </p>
                <p class="text-justify">
                    Feugiat in fermentum posuere urna nec tincidunt praesent semper.
                    Mattis pellentesque id nibh tortor id aliquet. A scelerisque purus semper eget duis at tellus.
                    Eleifend donec pretium vulputate sapien nec sagittis aliquam. Enim ut tellus elementum sagittis.
                    Morbi tristique senectus et netus et malesuada fames ac turpis.
                    Quisque non tellus orci ac auctor augue mauris augue.
                    Proin fermentum leo vel orci porta non pulvinar.
                    Ullamcorper sit amet risus nullam eget felis eget.
                    Sed risus ultricies tristique nulla aliquet enim tortor at auctor.
                    Sed ullamcorper morbi tincidunt ornare massa eget egestas purus.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
