{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<!-- Page Header, Full sized Image -->
<header class="my-auto mx-auto d-flex" id="profilePageHeader">
    <div class="container-fluid d-flex">
        <div class="row d-flex flex-column my-auto mx-auto text-center text-light align-items-center">
            <div class="d-flex col-12 mx-auto my-auto align-items-center text-center">
                <h1>Profile</h1>
            </div>
        </div>
    </div>
</header>




<!--==========================
   Profile Section
==============================-->

<section id="profileContent" class="studentCVA-content">
     <div class="container-fluid d-flex">
        <div class="row d-flex flex-column my-auto mx-auto">
           <form method="POST">
               {% csrf_token %}
               <fieldset class="form-group">
                   <legend class="border-bottom mb-4">Profile Info</legend>

                    {{ u_form |crispy }}
               </fieldset>
               <div class="form-group">
                   <button class="btn btn-light" type="submit">Update</button>
               </div>
           </form>
        </div>
     </div>
</section>


{% endblock %}