{% extends 'base.html' %}

{%block title %}Education List{% endblock %}
{% block content %}
    <div class="CvContent">
    <h1 class="text-center cv-h1">Completed CVs</h1>
        <hr />

        {% for Cv in object_list %}

        <div class="CvTable">
            <h2 class="text-center font-italic">{{ Cv.CvName }}</h2>
            <hr />
            <table>
                <tr>
                    <th>Cv Education</th>
                    <td>{{ Cv.CvEducation }}</td>
                </tr>
                <tr>
                    <th>Cv Skills</th>
                    <td>{{ Cv.CvSkills }}</td>
                </tr>
                <tr>
                     <th>Cv Work Experience</th>
                    <td>{{ Cv.CvWorkExperience }}</td>
                </tr>
                <tr>
                     <td colspan="2">
                        <div class="form-button-container">
                            <a class="form-button btn" id="view" href="{% url "Cv_view" Cv.id %}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a class="form-button btn" id="edit" href="{% url "Cv_edit" Cv.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a class="form-button btn" id="delete" href="{% url "Cv_delete" Cv.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
            <br />
            {% endfor %}
            <div class="no-record-text alert-info">
                <h5 class="text-center">Please add a record</h5>
            </div>
            <br />
            <div class="text-center"><a class="add-new btn" id="add-new" href="{% url 'Cv_new' %}">New +</a></div>
        <br />
    </div>
{% endblock %}
