{% extends 'base.html' %}

{%block title %}Skills List{% endblock %}
{% block content %}
<div class="cv-container">
    <div class="cv CvContent">
    <h1 class="text-center cv-h1">Skills</h1>
        <hr />

     {% for Skills in object_list %}
        <div class="CvTable">
            <h2 class="text-center font-italic">{{ Skills.SkillsName }}</h2>
            <hr />
            <table>
                 <tr>
                    <th>Skills Description</th>
                    <td>{{ Skills.SkillsDesc }}</td>
                 </tr>
                 <tr>
                    <td>
                        <a href="{% url "Skills_view" Skills.id %}">View</a>
                        <a href="{% url "Skills_edit" Skills.id %}">Edit</a>
                        <a href="{% url "Skills_delete" Skills.id %}">Delete</a>
                    </td>
                 </tr>
            </table>
        </div>
            <br />
            {% endfor %}
            <div class="no-record-text alert-info">
                <h5 class="text-center">Please add a record</h5>
            </div>
            <br />
            <div class="text-center"><a class="add-new btn" id="add-new" href="{% url 'Skills_new' %}">New +</a></div>
    </div>
</div>




{% endblock %}
