{% extends 'base.html' %}
{% include 'card.html' %}
  <!-- Page Header, Full sized Image -->

<title> StudentCVA | {%block title %}
Profile
    {% endblock %} </title>


{% block content %}
  <section id="education">
		<div class="container-fluid d-flex flex-column bg-light align-items-center opct opacity-20" id="aboutContainer">
			<div class="row d-flex flex-column my-auto mx-auto text-center align-items-center">
					<div class="d-flex col-12 mx-auto my-auto align-items-center text-center" >
						<h2>Education</h1>
					</div>
					{% block card %}
					<div class="profileCard text-justify">
						<h4>University College Cork</h3>
						</hr>
						
						<div class="input-group">
						<label class="form-control">Start Year</label> 
							<select>
								<option>2019</option>
								<option>2018</option>
								<option>2017</option>
								<option>2016</option>
								<option>2015</option>
								<option>2014</option>
								<option>2013</option>
								<option>2012</option>
								<option>2011</option>
								<option>2010</option>
								<option>2009</option>
								<option>2008</option>
								<option>2007</option>
								<option>2006</option>
								<option>2005</option>
								<option>2004</option>
								<option>2003</option>
								<option>2002</option>
								<option>2001</option>
								<option>2000</option>
								<option>1999</option>
								<option>1998</option>
								<option>1997</option>
								<option>1996</option>
								<option>1995</option>
								<option>1994</option>
								<option>1993</option>
								<option>1992</option>
								<option>1991</option>
								<option>1990</option>
							</select>
						</div>


						<div class="input-group">
						<label class="form-control">Year of Completion</label> 
							<select>
								<option>2023</option>
								<option>2022</option>
								<option>2021</option>
								<option>2020</option>
								<option>2019</option>
								<option>2018</option>
								<option>2017</option>
								<option>2016</option>
								<option>2015</option>
								<option>2014</option>
								<option>2013</option>
								<option>2012</option>
								<option>2019</option>
								<option>2018</option>
								<option>2017</option>
								<option>2016</option>
								<option>2015</option>
								<option>2014</option>
								<option>2013</option>
								<option>2012</option>
								<option>2011</option>
								<option>2010</option>
								<option>2009</option>
								<option>2008</option>
								<option>2007</option>
								<option>2006</option>
								<option>2005</option>
								<option>2004</option>
								<option>2003</option>
								<option>2002</option>
								<option>2001</option>
								<option>2000</option>
								<option>1999</option>
								<option>1998</option>
								<option>1997</option>
								<option>1996</option>
								<option>1995</option>
								<option>1994</option>
								<option>1993</option>
								<option>1992</option>
								<option>1991</option>
								<option>1990</option>
							</select>
						</div>
						
						
						<div class="input-group">
							<label class="form-control">Level</label> 
							 <select class="form-control">
							  <option value="sec" class="form-control">Secondary School (Level 5)</option>
							  <option value="plc" class="form-control">Post-Leaving Certificate (Level 6)</option>
							  <option value="ord" class="form-control">Ordinary Degree (Level 7)</option>
							  <option value="bach" class="form-control">Bachelors Degree (Level 8)</option>
							</select>
						</div>
						
						<div class="input-group">
							<label class="form-control">Skills</label>
							<input clas="form-control" readonly>
						</div>
						
						<div class="cardRemoveEdit">
							<a href="#">Remove</a>
							<a href="#">Edit <span><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
						</div>
					</div>
				{% endblock %}
					

					<!--End card -->




					<div class="profileCard text-justify">
						<h3>St Francis College, Rochestown</h3>
						</hr>

						<div class="input-group">
						<label class="form-control">Start Year</label>
							<select>
								<option>2019</option>
								<option>2018</option>
								<option>2017</option>
								<option>2016</option>
								<option>2015</option>
								<option>2014</option>
								<option>2013</option>
								<option>2012</option>
								<option>2011</option>
								<option>2010</option>
								<option>2009</option>
								<option>2008</option>
								<option>2007</option>
								<option>2006</option>
								<option>2005</option>
								<option>2004</option>
								<option>2003</option>
								<option>2002</option>
								<option>2001</option>
								<option>2000</option>
								<option>1999</option>
								<option>1998</option>
								<option>1997</option>
								<option>1996</option>
								<option>1995</option>
								<option>1994</option>
								<option>1993</option>
								<option>1992</option>
								<option>1991</option>
								<option>1990</option>
							</select>
						</div>


						<div class="input-group">
						<label class="form-control">Year of Completion</label>
							<select>
								<option>2023</option>
								<option>2022</option>
								<option>2021</option>
								<option>2020</option>
								<option>2019</option>
								<option>2018</option>
								<option>2017</option>
								<option>2016</option>
								<option>2015</option>
								<option>2014</option>
								<option>2013</option>
								<option>2012</option>
								<option>2019</option>
								<option>2018</option>
								<option>2017</option>
								<option>2016</option>
								<option>2015</option>
								<option>2014</option>
								<option>2013</option>
								<option>2012</option>
								<option>2011</option>
								<option>2010</option>
								<option>2009</option>
								<option>2008</option>
								<option>2007</option>
								<option>2006</option>
								<option>2005</option>
								<option>2004</option>
								<option>2003</option>
								<option>2002</option>
								<option>2001</option>
								<option>2000</option>
								<option>1999</option>
								<option>1998</option>
								<option>1997</option>
								<option>1996</option>
								<option>1995</option>
								<option>1994</option>
								<option>1993</option>
								<option>1992</option>
								<option>1991</option>
								<option>1990</option>
							</select>
						</div>


						<div class="input-group">
							<label class="form-control">Level</label>
							 <select class="form-control">
							  <option value="sec" class="form-control">Secondary School (Level 5)</option>
							  <option value="plc" class="form-control">Post-Leaving Certificate (Level 6)</option>
							  <option value="ord" class="form-control">Ordinary Degree (Level 7)</option>
							  <option value="bach" class="form-control">Bachelors Degree (Level 8)</option>
							</select>
						</div>

						<div class="input-group">
							<label class="form-control">Skills</label>
							<input clas="form-control" readonly>
						</div>

						<div class="cardRemoveEdit">
							<a href="#">Remove</a>
							<a href="#">Edit <span><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
						</div>
					</div>



					<!--End card -->
                    <h4>Record added succesfully</h4>
					<div class="d-flex col-12 mx-auto my-auto align-items-center text-center">
						<div class="input-group">
							<button class="btn btn-success">Add +</button>
						</div>
					</div>

					
					
				</div>	
			</div>
		</section>
		
		<section id="experience">
			<div class="container-fluid d-flex flex-column bg-light align-items-center opct opacity-20" id="aboutContainer">
				<div class="row d-flex flex-column my-auto mx-auto text-center align-items-center" id="ducationRow">
					<div class="d-flex col-12 mx-auto my-auto align-items-center text-center mt-1">
						<h2>Experience</h1>
					</div>
					
					<!--Start card -->
					<div class="profileCard text-justify">
						<h4>VMware</h3>
						</hr>
						
						<div class="input-group">
							<label class="form-control">Start Date</label> 
							<input type="date">
						</div>
						
						<div class="input-group">
							<label class="form-control">End Date</label> 
							<input type="date">
						</div>
						
						<div class="input-group">
							<label class="form-control">Skills</label>
							<input clas="form-control" readonly>
						</div>
						
						<div class="cardRemoveEdit">
							<a href="#">Remove</a>
							<a href="#">Edit <span><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
						</div>
					</div>
					
					<!--End card -->
					
					<div class="d-flex col-12 mx-auto my-auto align-items-center text-center">
						<div class="input-group">
							<button class="btn btn-success">Add +</button>
						</div>
					</div>
					
					
					
			</div>
		
		</div>
	</section>
	
	
	<section id="skills">
			<div class="container-fluid d-flex flex-column bg-light align-items-center opct opacity-20" id="aboutContainer">
				<div class="row d-flex flex-column my-auto mx-auto text-center align-items-center" id="ducationRow">
					<div class="d-flex col-12 mx-auto my-auto align-items-center text-center mt-1">
						<h2>Skills</h1>
					</div>
					
					<!--Start card -->
					<div class="profileCard text-justify">
						<h4>Virtualization</h3>
						</hr>

						
						<div class="input-group">
							<label class="form-control">Description</label>
							<textarea class="form-control"></textarea>
						</div>
						
						<div class="cardRemoveEdit">
							<a href="#">Remove</a>
							<a href="#">Edit <span><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
						</div>
					</div>

					<div class="d-flex col-12 mx-auto my-auto align-items-center text-center">
						<div class="input-group">
							<button class="btn btn-success">Add +</button>
						</div>
					</div>
					
					<!--End card -->
					
			</div>
		
		</div>
	</section>

{% endblock %}
