{% extends 'base.html' %}

{%block title %}Education List{% endblock %}
{% block content %}
    <div class="CvContent">
    <h1 class="text-center">CV</h1>
        <table class="CvTable">
            <thead>
                <tr>
                    <th>CV Name</th>
                    <th>CV User</th>
                    <th>Cv Education</th>
                    <th>Cv Skills</th>
                    <th>CvWorkExperience</th>
                    <th colspan="3">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for Education in object_list %}
                <tr>
                    <td>{{ Education.CvName }}</td>
                     <td>{{ Education.CvUser }}</td>
                     <td>{{ Education.CvEducation }}</td>
                     <td>{{ Education.CvSkills }}</td>
                     <td>{{ Education.CvWorkExperience }}</td>

                    <td><a href="{% url "Cv_view" Cv.id %}">View</a></td>

                    <td><a href="{% url "Cv_edit" Cv.id %}">Edit</a></td>
                    <td><a href="{% url "Cv_delete" Cv.id %}">Delete</a></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
